@media screen and (max-width: 440px) {
    #cart_id{
        width: 80%;
    }
    
}

@media screen and (max-width: 1023px) {
    #cart_id{
        width: 50%;
    }
    
}


.cart{
    position: fixed;
    background: #ffffff;
    width: 30%;
    height: 100vh;
    top: 0;
    right: -100%;
    z-index: 100;
    transition: right .5s linear;
    padding: 22px 20px 24px 20px;
    border-radius: 4px 0px 0px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cart header{
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#cart_logo{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.02em;
}

.vector_cart{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.875 2.8125H3.125C2.7106 2.8125 2.31317 2.97712 2.02015 3.27015C1.72712 3.56317 1.5625 3.9606 1.5625 4.375V15.625C1.5625 16.0394 1.72712 16.4368 2.02015 16.7299C2.31317 17.0229 2.7106 17.1875 3.125 17.1875H16.875C17.2894 17.1875 17.6868 17.0229 17.9799 16.7299C18.2729 16.4368 18.4375 16.0394 18.4375 15.625V4.375C18.4375 3.9606 18.2729 3.56317 17.9799 3.27015C17.6868 2.97712 17.2894 2.8125 16.875 2.8125ZM16.5625 15.3125H3.4375V4.6875H16.5625V15.3125ZM5.9375 6.875C5.9375 6.62636 6.03627 6.3879 6.21209 6.21209C6.3879 6.03627 6.62636 5.9375 6.875 5.9375C7.12364 5.9375 7.3621 6.03627 7.53791 6.21209C7.71373 6.3879 7.8125 6.62636 7.8125 6.875C7.8125 7.45516 8.04297 8.01156 8.4532 8.4218C8.86344 8.83203 9.41984 9.0625 10 9.0625C10.5802 9.0625 11.1366 8.83203 11.5468 8.4218C11.957 8.01156 12.1875 7.45516 12.1875 6.875C12.1875 6.62636 12.2863 6.3879 12.4621 6.21209C12.6379 6.03627 12.8764 5.9375 13.125 5.9375C13.3736 5.9375 13.6121 6.03627 13.7879 6.21209C13.9637 6.3879 14.0625 6.62636 14.0625 6.875C14.0625 7.95244 13.6345 8.98575 12.8726 9.74762C12.1108 10.5095 11.0774 10.9375 10 10.9375C8.92256 10.9375 7.88925 10.5095 7.12738 9.74762C6.36551 8.98575 5.9375 7.95244 5.9375 6.875Z' fill='%233625FF'/%3E%3C/svg%3E%0A");
}

#close_btn{
    cursor: pointer;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.close_vector{
    width: 8px;
    height: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.00188 3.05083L7.05083 0.0018797L7.99812 0.949169L4.94917 3.99812L8 7.04895L7.04895 8L3.99812 4.94917L0.949169 7.99812L0.00187998 7.05083L3.05083 4.00188L0 0.951049L0.951049 0L4.00188 3.05083Z' fill='%235C6970'/%3E%3C/svg%3E%0A");
}

.next_btn{
    width: 100%;
    padding: 2px 8px 4px 8px;
    border-radius: 4px;
    background: #3625FF;
    color: #ffffff;
    cursor: pointer;
    border: none;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;
}

.products_cart{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.02em;
}

.products_cart::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.item_cart{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.item_cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.item_img{
    width: 60px;
    height: 60px;
}

.item_desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item_name{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-align: left;
}

.counter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #EFEEF4;
    border-radius: 4px;
    gap: 12px;
}

.item_number{
    width: 20px;
    display: flex;
    justify-content: center;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: center;
}

#minus_btn{
    width: 40px;
    height: 35px;
    border: none;
    cursor: pointer;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.minus_vector{
    width: 10px;
    height: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='2' viewBox='0 0 10 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.53968 0.462471H9V1.53757H5.53968L4.46032 1.53759L1 1.53757V0.462471H4.46032H5.53968Z' fill='%232E3438' stroke='%232E3438' stroke-width='0.6'/%3E%3C/svg%3E%0A");
}

.plus_vector{
    width: 10px;
    height: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.53968 4.46245H9V5.53755H5.53968V9H4.46032V5.53755H1V4.46245H4.46032V1H5.53968V4.46245Z' fill='%232E3438' stroke='%232E3438' stroke-width='0.6'/%3E%3C/svg%3E%0A");
}

#plus_btn{
    width: 40px;
    height: 35px;
    border: none;
    cursor: pointer;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

#delete_product{
    display: none;
    position: absolute;
    top: 0;
    right: -80%;
    border: none;
    background: red;
    border-radius: 12px;
    width: 80%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    cursor: pointer;
}

.item_cart:hover #delete_product{
    display: flex;
    right: -70%;
}

#delete_product:hover{
    background: #3625FF;
    transform: translateX(-80%);
}

.delete_vector{
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='20px' height='20px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M18 6V16.2C18 17.8802 18 18.7202 17.673 19.362C17.3854 19.9265 16.9265 20.3854 16.362 20.673C15.7202 21 14.8802 21 13.2 21H10.8C9.11984 21 8.27976 21 7.63803 20.673C7.07354 20.3854 6.6146 19.9265 6.32698 19.362C6 18.7202 6 17.8802 6 16.2V6M14 10V17M10 10V17' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.info_order{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info_order span{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #5C6970;
}

.info_order h2{
    font-family: Inter;
}
