.products{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product{
    min-width: 300px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #ffffff;
    background: #EFEEF4;
    padding: 16px;
}

.product img{
    display: flex;
    margin: 0 auto;
    max-height: 300px;
    width: 80%;
    object-fit: contain;
}

.product_container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rating{
    max-width: 64px;
    height: 24px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: #ffffff;
    padding: 4px;
}

.rating span{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-align: left;
}

.rating_vector{
    width: 15px;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0539 12.232C14.9906 12.3377 14.9071 12.4298 14.8082 12.5032C14.7092 12.5766 14.5968 12.6297 14.4773 12.6596C14.3578 12.6895 14.2336 12.6956 14.1117 12.6774C13.9899 12.6593 13.8728 12.6173 13.7672 12.5539L8.93753 9.65547V14.875C8.93753 15.1236 8.83875 15.3621 8.66294 15.5379C8.48712 15.7137 8.24867 15.8125 8.00003 15.8125C7.75139 15.8125 7.51293 15.7137 7.33711 15.5379C7.1613 15.3621 7.06253 15.1236 7.06253 14.875V9.65547L2.23284 12.5539C2.12727 12.6173 2.01025 12.6592 1.88848 12.6773C1.7667 12.6955 1.64254 12.6894 1.52309 12.6596C1.40365 12.6297 1.29125 12.5766 1.19232 12.5033C1.09339 12.43 1.00986 12.338 0.946511 12.2324C0.818564 12.0192 0.780556 11.7639 0.840846 11.5227C0.901136 11.2814 1.05479 11.074 1.268 10.9461L6.17815 8L1.268 5.05391C1.05479 4.92596 0.901136 4.71856 0.840846 4.47732C0.780556 4.23609 0.818564 3.98079 0.946511 3.76758C1.07446 3.55437 1.28186 3.40072 1.52309 3.34043C1.76433 3.28014 2.01963 3.31815 2.23284 3.44609L7.06253 6.34453V1.125C7.06253 0.87636 7.1613 0.637903 7.33711 0.462087C7.51293 0.286272 7.75139 0.1875 8.00003 0.1875C8.24867 0.1875 8.48712 0.286272 8.66294 0.462087C8.83875 0.637903 8.93753 0.87636 8.93753 1.125V6.34453L13.7672 3.44609C13.8728 3.38274 13.9898 3.3408 14.1116 3.32267C14.2334 3.30454 14.3575 3.31058 14.477 3.34043C14.5964 3.37028 14.7088 3.42337 14.8077 3.49666C14.9067 3.56995 14.9902 3.66201 15.0535 3.76758C15.1169 3.87315 15.1588 3.99016 15.177 4.11194C15.1951 4.23372 15.1891 4.35788 15.1592 4.47732C15.1294 4.59677 15.0763 4.70917 15.003 4.8081C14.9297 4.90703 14.8376 4.99055 14.7321 5.05391L9.8219 8L14.7321 10.9461C14.9452 11.074 15.0989 11.2813 15.1593 11.5224C15.2196 11.7636 15.1817 12.0188 15.0539 12.232Z' fill='%233625FF'/%3E%3C/svg%3E%0A");
}

.title{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

#buy_btn{
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    border: none;
    background: #3625FF;
    cursor: pointer;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #ffffff;
    padding: 7px;
}

#cart{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.875 0.8125H2.125C1.7106 0.8125 1.31317 0.97712 1.02015 1.27015C0.72712 1.56317 0.5625 1.9606 0.5625 2.375V13.625C0.5625 14.0394 0.72712 14.4368 1.02015 14.7299C1.31317 15.0229 1.7106 15.1875 2.125 15.1875H15.875C16.2894 15.1875 16.6868 15.0229 16.9799 14.7299C17.2729 14.4368 17.4375 14.0394 17.4375 13.625V2.375C17.4375 1.9606 17.2729 1.56317 16.9799 1.27015C16.6868 0.97712 16.2894 0.8125 15.875 0.8125ZM15.5625 13.3125H2.4375V2.6875H15.5625V13.3125ZM4.9375 4.875C4.9375 4.62636 5.03627 4.3879 5.21209 4.21209C5.3879 4.03627 5.62636 3.9375 5.875 3.9375C6.12364 3.9375 6.3621 4.03627 6.53791 4.21209C6.71373 4.3879 6.8125 4.62636 6.8125 4.875C6.8125 5.45516 7.04297 6.01156 7.4532 6.4218C7.86344 6.83203 8.41984 7.0625 9 7.0625C9.58016 7.0625 10.1366 6.83203 10.5468 6.4218C10.957 6.01156 11.1875 5.45516 11.1875 4.875C11.1875 4.62636 11.2863 4.3879 11.4621 4.21209C11.6379 4.03627 11.8764 3.9375 12.125 3.9375C12.3736 3.9375 12.6121 4.03627 12.7879 4.21209C12.9637 4.3879 13.0625 4.62636 13.0625 4.875C13.0625 5.95244 12.6345 6.98575 11.8726 7.74762C11.1108 8.50949 10.0774 8.9375 9 8.9375C7.92256 8.9375 6.88925 8.50949 6.12738 7.74762C5.36551 6.98575 4.9375 5.95244 4.9375 4.875Z' fill='white'/%3E%3C/svg%3E%0A");
}

.buy{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.sales{
    max-width: 118px;
    height: 24px;
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    gap: 4px
}

.procent{
    color: #3625FF;
}

.skeleton{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EFEEF4;
}

.vector_skeleton{
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8794 10.7919C12.8221 10.8866 12.7466 10.9691 12.6571 11.0349C12.5676 11.1006 12.4659 11.1482 12.3578 11.175C12.2498 11.2018 12.1374 11.2072 12.0273 11.191C11.9171 11.1747 11.8112 11.1371 11.7157 11.0803L7.3478 8.4833V13.16C7.3478 13.3828 7.25847 13.5964 7.09947 13.754C6.94046 13.9115 6.72481 14 6.49994 14C6.27507 14 6.05942 13.9115 5.90041 13.754C5.74141 13.5964 5.65208 13.3828 5.65208 13.16V8.4833L1.2842 11.0803C1.18872 11.1371 1.0829 11.1746 0.972762 11.1909C0.862627 11.2071 0.750342 11.2017 0.642317 11.175C0.534291 11.1482 0.432641 11.1007 0.343171 11.035C0.2537 10.9693 0.178161 10.8868 0.120866 10.7923C0.00515337 10.6012 -0.0292211 10.3725 0.0253041 10.1563C0.0798293 9.94017 0.218788 9.75434 0.411611 9.6397L4.85227 7L0.411611 4.3603C0.218788 4.24566 0.0798293 4.05983 0.0253041 3.84368C-0.0292211 3.62754 0.00515337 3.39879 0.120866 3.20775C0.236578 3.01671 0.42415 2.87904 0.642317 2.82502C0.860484 2.771 1.09138 2.80506 1.2842 2.9197L5.65208 5.5167V0.84C5.65208 0.617218 5.74141 0.403561 5.90041 0.24603C6.05942 0.0884998 6.27507 0 6.49994 0C6.72481 0 6.94046 0.0884998 7.09947 0.24603C7.25847 0.403561 7.3478 0.617218 7.3478 0.84V5.5167L11.7157 2.9197C11.8112 2.86294 11.917 2.82536 12.0271 2.80911C12.1373 2.79287 12.2495 2.79828 12.3576 2.82502C12.4656 2.85177 12.5672 2.89934 12.6567 2.96501C12.7462 3.03067 12.8217 3.11316 12.879 3.20775C12.9363 3.30234 12.9742 3.40719 12.9906 3.5163C13.007 3.62541 13.0016 3.73666 12.9746 3.84368C12.9476 3.95071 12.8996 4.05141 12.8333 4.14006C12.767 4.2287 12.6837 4.30354 12.5883 4.3603L8.14761 7L12.5883 9.6397C12.7811 9.75427 12.92 9.94002 12.9746 10.1561C13.0292 10.3722 12.9949 10.6009 12.8794 10.7919Z' fill='%232E3438'/%3E%3C/svg%3E%0A");
    animation: spin 2s infinite linear;
}

.preloader{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 25px 14px;
    background: #EFEEF4;
}

.vector_preloader{
    width: 13px;
    height: 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8794 10.7919C12.8221 10.8866 12.7466 10.9691 12.6571 11.0349C12.5676 11.1006 12.4659 11.1482 12.3578 11.175C12.2498 11.2018 12.1374 11.2072 12.0273 11.191C11.9171 11.1747 11.8112 11.1371 11.7157 11.0803L7.3478 8.4833V13.16C7.3478 13.3828 7.25847 13.5964 7.09947 13.754C6.94046 13.9115 6.72481 14 6.49994 14C6.27507 14 6.05942 13.9115 5.90041 13.754C5.74141 13.5964 5.65208 13.3828 5.65208 13.16V8.4833L1.2842 11.0803C1.18872 11.1371 1.0829 11.1746 0.972762 11.1909C0.862627 11.2071 0.750342 11.2017 0.642317 11.175C0.534291 11.1482 0.432641 11.1007 0.343171 11.035C0.2537 10.9693 0.178161 10.8868 0.120866 10.7923C0.00515337 10.6012 -0.0292211 10.3725 0.0253041 10.1563C0.0798293 9.94017 0.218788 9.75434 0.411611 9.6397L4.85227 7L0.411611 4.3603C0.218788 4.24566 0.0798293 4.05983 0.0253041 3.84368C-0.0292211 3.62754 0.00515337 3.39879 0.120866 3.20775C0.236578 3.01671 0.42415 2.87904 0.642317 2.82502C0.860484 2.771 1.09138 2.80506 1.2842 2.9197L5.65208 5.5167V0.84C5.65208 0.617218 5.74141 0.403561 5.90041 0.24603C6.05942 0.0884998 6.27507 0 6.49994 0C6.72481 0 6.94046 0.0884998 7.09947 0.24603C7.25847 0.403561 7.3478 0.617218 7.3478 0.84V5.5167L11.7157 2.9197C11.8112 2.86294 11.917 2.82536 12.0271 2.80911C12.1373 2.79287 12.2495 2.79828 12.3576 2.82502C12.4656 2.85177 12.5672 2.89934 12.6567 2.96501C12.7462 3.03067 12.8217 3.11316 12.879 3.20775C12.9363 3.30234 12.9742 3.40719 12.9906 3.5163C13.007 3.62541 13.0016 3.73666 12.9746 3.84368C12.9476 3.95071 12.8996 4.05141 12.8333 4.14006C12.767 4.2287 12.6837 4.30354 12.5883 4.3603L8.14761 7L12.5883 9.6397C12.7811 9.75427 12.92 9.94002 12.9746 10.1561C13.0292 10.3722 12.9949 10.6009 12.8794 10.7919Z' fill='%232E3438'/%3E%3C/svg%3E%0A");
    animation: spin 2s infinite linear;
}

@keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }

