@media screen and (max-width: 769px) {
    #prev{
        display: none;
    }

    #next{
        display: none;
    }
}

.slider{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.wrapper{
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide{
    flex: 1 0 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.img{
    display: flex;
    margin: 0 auto;
    max-height: 300px;
    width: 100%;
    object-fit: contain;
}

.description{
    width: 300px;
    text-align: center;
    margin: auto;
}

#prev{
    position: absolute;
    top: 48%;
    left: 10%;
    padding: 15px;
    border: none;
    background: none;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'/%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M14.2893 5.70708C13.8988 5.31655 13.2657 5.31655 12.8751 5.70708L7.98768 10.5993C7.20729 11.3805 7.2076 12.6463 7.98837 13.427L12.8787 18.3174C13.2693 18.7079 13.9024 18.7079 14.293 18.3174C14.6835 17.9269 14.6835 17.2937 14.293 16.9032L10.1073 12.7175C9.71678 12.327 9.71678 11.6939 10.1073 11.3033L14.2893 7.12129C14.6799 6.73077 14.6799 6.0976 14.2893 5.70708Z' fill='%230F0F0F'/%3E%3C/g%3E%3C/svg%3E");
    z-index: 999;
}

#next{
    position: absolute;
    top: 48%;
    right: 10%;
    padding: 15px;
    border: none;
    background: none;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.71069 18.2929C10.1012 18.6834 10.7344 18.6834 11.1249 18.2929L16.0123 13.4006C16.7927 12.6195 16.7924 11.3537 16.0117 10.5729L11.1213 5.68254C10.7308 5.29202 10.0976 5.29202 9.70708 5.68254C9.31655 6.07307 9.31655 6.70623 9.70708 7.09676L13.8927 11.2824C14.2833 11.6729 14.2833 12.3061 13.8927 12.6966L9.71069 16.8787C9.32016 17.2692 9.32016 17.9023 9.71069 18.2929Z' fill='%230F0F0F'/%3E%3C/svg%3E");
    z-index: 999;
}


#slider-img{
    width: 100%;
    transform: translateX();
    transition: all 0.3s ease-in-out;
}

.pagination{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.circle{
    width: 8px;
    height: 8px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.active{
    background: #5C6970;
    cursor: default;
}

.checkbox{
    display:none
}

.switch{
    width: 62px;
    height: 32px;
    background: #E5E5E5;
    z-index: 0;
    margin: 0;
    padding: 0;
    appearance: none;
    border: none;
    cursor: pointer;
    position: relative;
    border-radius:16px; 
}
.switch:before{
    content: ' ';
    position: absolute;
    left: 1px;
    top: 1px;
    width: 60px;
    height: 30px;
    background: #FFFFFF;
    z-index: 1;
    border-radius:16px;
}

.switch:after {
    content: ' ';
    height: 29px;
    width: 29px;
    border-radius: 28px;
    background: #FFFFFF;
    position: absolute;
    z-index: 2;
    top: 1px;
    left: 1px;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-box-shadow: 0 2px 5px #999999;
    box-shadow: 0 2px 5px #999999;
}

.switchOn , .switchOn:before{
    background: #4cd964 !important;
}

.switchOn:after{
    left: 31px !important;
}

.switcher{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.preloader{
    margin: auto;
}